.container-style {
  background-color: #cbced142;
}
.single-card-style {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.details-style img {
  height: 400px;
  border-radius: 15px;
}
.quantity-style {
  background-color: #cbced159;
  padding: 5px;
  border-radius: 10px;
}
.details-style input {
  width: 200px;
  border: none;
  background: #ecf0f3;
  outline: 0;
  padding: 10px;
  padding-left: 20px;
  height: 42px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cbced1,
    inset -6px -6px 6px rgba(255, 255, 255, 0);
}
.details-style ::placeholder {
  font-size: 16px;
}
